<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ApplicationName" value="Coactivos SyP"/>
    <add key="Constante1" value="http://192.168.80.61:9080/WorkplaceXT/getContent?id=%7B"/>
    <add key="Constante2" value="%7D&amp;objectStoreName=UGPP&amp;objectType=document"/>
    <add key="ApplicationVersion" value="v20140223.0831"/>

    <!-- Stefanini DEV -->
    <!--<add key="ServerName" value="IT-214\SQL2014"/>
    <add key="BD_User" value="ugppadmin"/>
    <add key="BD_pass" value="_ugpp@dM1N2"/>
    <add key="BD_name" value="UGPPCobrosCoactivo"/>-->
    <!-- Stefanini QA -->
    <!--<add key="ServerName" value="IT-214\SQL2014"/>
    <add key="BD_User" value="portalesqa"/>
    <add key="BD_pass" value="portalesqa"/>
    <add key="BD_name" value="UGPPCobrosCoactivosQA"/>-->
    <!-- Local DB -->
    <!--<add key="ServerName" value="6J49RN2"/>
    <add key="BD_User" value="sa"/>
    <add key="BD_pass" value="hernandez123"/>
    <add key="BD_name" value="UGPPCobrosCoactivo20190228"/>-->
    <!-- UGPP QA -->
    <add key="servername" value="172.20.0.163"/>
    <add key="bd_user" value="globalinc"/>
    <add key="bd_pass" value="99110022"/>
    <add key="bd_name" value="ugpp"/>

    <add key="UgppUserBusiness" value="s-bpmpar01"/>
    <add key="UgppUserSystem" value="s-bpmpar01"/>
    <add key="UgppPassword" value="RptSSo1Ug"/>
    <add key="UgppLogFile" value="~/log4net.config"/>
    <add key="DistinguishedName" value="OU=Usuarios,DC=UGPP,DC=PRUEBAS" />
    
    <add key="AREA_SUBDIRECCION ADMINISTRATIVA" value="6"/>
    <add key="AREA_DETERMINACIÓNPARAFISCALES" value="2"/>
    <add key="AREA_DISCIPLINARIOS" value="5"/>
    <add key="AREA_JURÍDICAPARAFISCALES" value="1"/>
    <add key="AREA_JURÍDICAPENSIONAL" value="4"/>
    <add key="AREA_DEFAULT" value="2"/>
    
    <add key="AREA_SUBDIRECCION DETERMINACION OBLIGACIONES PARAFISCALES" value="2"/>
    <add key="AREA_SUBDIRECCION DE NOMINA PENSIONADOS" value="3"/>
    <add key="AREA_DIRECCION SOPORTE Y DESARROLLO ORGANIZACIONAL" value="5"/>
    <add key="AREA_DIRECCION DE PARAFISCALES" value="1"/>
    <add key="AREA_SUBDIRECCION DE DEFENSA JUDICIAL PENSIONAL" value="4"/>
    <add key="AREA_SUBDIRECCION ADMINISTRATIVA" value="6"/>
  </appSettings>
  <connectionStrings>
    <!-- Stefanini DEV -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IT-214\SQL2014;initial catalog=UGPPCobrosCoactivo;persist security info=True;user id=ugppadmin;password=_ugpp@dM1N2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=IT-214\SQL2014;Initial Catalog=UGPPCobrosCoactivo;User ID=ugppadmin;Password=_ugpp@dM1N2" providerName="System.Data.SqlClient"/>-->
    <!-- Stefanini QA -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IT-214\SQL2014;initial catalog=UGPPCobrosCoactivosQA;persist security info=True;user id=portalesqa;password=portalesqa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=IT-214\SQL2014;Initial Catalog=UGPPCobrosCoactivosQA;User ID=portalesqa;Password=portalesqa" providerName="System.Data.SqlClient"/>-->
    <!-- Local DB -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=6J49RN2;initial catalog=UGPPCobrosCoactivo20190228;persist security info=True;user id=sa;password=hernandez123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=6J49RN2;Initial Catalog=UGPPCobrosCoactivo20190228;User ID=sa;Password=hernandez123" providerName="System.Data.SqlClient"/>-->
    <!-- UGPP QA -->
    <add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.0.163;initial catalog=ugpp;persist security info=True;user id=GLOBALINC;password=99110022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=172.20.0.163;Initial Catalog=ugpp;User ID=GLOBALINC;Password=99110022" providerName="System.Data.SqlClient"/>
    
    <add name="ugppConnectionString" connectionString="Data Source=JGOMEZ;Initial Catalog=ugpp;User ID=sa;Password=SqlServer" providerName="System.Data.SqlClient"/>
    <add name="tecnoexpedientesConnectionString" connectionString="Data Source=JGOMEZ;Initial Catalog=ugpp;Persist Security Info=True;User ID=sa;Password=SqlServer" providerName="System.Data.SqlClient"/>
    <add name="ugppConnectionString1" connectionString="Data Source=CESAR-PC;Initial Catalog=ugpp;Persist Security Info=True;User ID=sa;Password=Abc123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuncontrolstime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="102400" maxRequestLength="90480" />
    <globalization culture="es-CO" uiCulture="es-CO" requestEncoding="utf-8" responseEncoding="utf-8" />
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Forms" />
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.
    -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="bndSrvIntExpedienteHttp">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport authenticationScheme="Basic" />
        </binding>
        <binding name="bndSrvIntDocumentoHttp">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2000000000" maxReceivedMessageSize="2000000000"
            authenticationScheme="Basic" maxBufferSize="2000000000" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="EndpointDocumentoBinding" maxBufferPoolSize="524288"
          maxBufferSize="5242880" maxReceivedMessageSize="5242880" />
        <binding name="ws_SrvIntCobros_Binder">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="opConsultarSaldoIMPLPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WebService_Form_loadSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/validador_pagos/opConsultarSaldoIMPLService"
			  binding="basicHttpBinding" bindingConfiguration="opConsultarSaldoIMPLPortBinding"
			  contract="WSLO.opConsultarSaldoIMPL" name="opConsultarSaldoIMPLPort" />
      <endpoint address="http://localhost:10000/PublicServicios/WebService_Form_load.asmx"
			  binding="basicHttpBinding" bindingConfiguration="WebService_Form_loadSoap"
			  contract="WSLO.WebService_Form_loadSoap" name="WebService_Form_loadSoap" />
      <endpoint address="http://172.20.0.178/ws/VS_SrvIntExpediente"
       binding="customBinding" bindingConfiguration="bndSrvIntExpedienteHttp"
       contract="UGPPSrvIntExpediente.portSrvIntExpedienteSOAP" name="VS_SrvIntExpedientesoap12http" />
      <endpoint address="http://172.20.0.178/ws/VS_SrvIntDocumento"
        binding="customBinding" bindingConfiguration="bndSrvIntDocumentoHttp"
        contract="UGPPSrvIntDocumento.portSrvIntDocumentoSOAP" name="VS_SrvIntDocumentosoap12http" />
      <endpoint address="http://192.168.80.62:9080/WebServicesUGPP/SvcDocumento"
        binding="basicHttpBinding" bindingConfiguration="EndpointDocumentoBinding"
        contract="UGPPSvcDocumento.IContratoSvcDocumento" name="EndpointDocumento" />
      <endpoint address="http://172.20.0.195:5565/ws/AP_Cobros.SeguimientoCobros.ws.provider:SrvIntCobros"
            binding="basicHttpBinding" bindingConfiguration="ws_SrvIntCobros_Binder"
            contract="UGPPSrvIntCobros.SrvIntCobros_PortType" name="ws_SrvIntCobros_Port" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>