<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <!-- Stefanini DEV -->
    <add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IT-214\SQL2014;initial catalog=UGPPCobrosCoactivo;persist security info=True;user id=ugppadmin;password=_ugpp@dM1N2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=IT-214\SQL2014;Initial Catalog=UGPPCobrosCoactivo;User ID=ugppadmin;Password=_ugpp@dM1N2" providerName="System.Data.SqlClient"/>
    <!-- Stefanini QA -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IT-214\SQL2014;initial catalog=UGPPCobrosCoactivosQA;persist security info=True;user id=portalesqa;password=portalesqa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=IT-214\SQL2014;Initial Catalog=UGPPCobrosCoactivosQA;User ID=portalesqa;Password=portalesqa" providerName="System.Data.SqlClient"/>-->
    <!-- Local DB -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=6J49RN2;initial catalog=UGPPCobrosCoactivo;persist security info=True;user id=sa;password=hernandez123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=6J49RN2;Initial Catalog=UGPPCobrosCoactivo;User ID=sa;Password=hernandez123" providerName="System.Data.SqlClient"/>-->
    <!-- UGPP QA -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.0.163;initial catalog=ugpp;persist security info=True;user id=GLOBALINC;password=99110022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=172.20.0.163;Initial Catalog=ugpp;User ID=GLOBALINC;Password=99110022" providerName="System.Data.SqlClient"/>-->


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>