
-- =============================================
-- Author:		<Luis Mario Lenis>
-- Create date: <03-Dic-2018>
-- Description:	<Insercion Tabla Solicitud>
-- =============================================

CREATE PROCEDURE [dbo].[SP_TAREA_SOLICITUD_INGRESAR]
	@ID_TAREA_ASIGNADA AS bigint,
	@VAL_USUARIO_SOLICITANTE AS varchar(50),
	@VAL_USUARIO_APROBADOR AS varchar(50),
	@VAL_USUARIO_DESTINO AS varchar(50)=null,
	@VAL_TIPO_SOLICITUD int,
	@COD_SOLICITUD_CAMBIO_ESTADO AS bigint=null,
	@VAL_TIPOLOGIA AS varchar(50)=null,
	@ID_TAREA_OBSERVACION AS INT=null
AS
	 INSERT INTO [dbo].[TAREA_SOLICITUD]
           ([ID_TAREA_ASIGNADA]
           ,[VAL_USUARIO_SOLICITANTE]
           ,[VAL_USUARIO_APROBADOR]
           ,[VAL_USUARIO_DESTINO]
           ,[VAL_TIPO_SOLICITUD]
           ,[COD_SOLICITUD_CAMBIO_ESTADO]
           ,[VAL_TIPOLOGIA]
           ,[ID_TAREA_OBSERVACION])
     VALUES
	 (@ID_TAREA_ASIGNADA,@VAL_USUARIO_SOLICITANTE,@VAL_USUARIO_APROBADOR,@VAL_USUARIO_DESTINO,@VAL_TIPO_SOLICITUD,@COD_SOLICITUD_CAMBIO_ESTADO,@VAL_TIPOLOGIA,@ID_TAREA_OBSERVACION)
	
	SELECT * FROM TAREA_SOLICITUD WHERE ID_TAREA_ASIGNADA= SCOPE_IDENTITY()

