<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DomainLdapQueryString" value="LDAP://172.19.48.20:389/DC=UGPP,DC=PRUEBAS" />
    <add key="cnn" value="Data Source=IT-214\SQL2014;Initial Catalog=UGPPCobrosCoactivosQA;User Id=ugppadmin;Password=_ugpp@dM1N2" />
    <add key="user" value="s-devglobal" />
    <add key="pss" value="AdminDev1" />
    <add key="Grupo_Titulo" value="COAC_U_ESTUDIOTITULOS" />
    <add key="Grupo_Expediente" value="COAC_U_CARGUETITULOS" />
    <add key="Hora_Ejecucion" value="23:55" />
  </appSettings>
</configuration>