/****** Object:  Table [dbo].[PERSUASIVOTIPIFICACIONOFICIO]    Script Date: 02/04/2016 15:54:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSUASIVOTIPIFICACIONOFICIO](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](80) NULL,
 CONSTRAINT [PK_PERSUASIVOTIPIFICACIONOFICIO] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PERSUASIVOTIPIFICACIONOFICIO] ON
INSERT [dbo].[PERSUASIVOTIPIFICACIONOFICIO] ([codigo], [nombre]) VALUES (1, N'PRIMER OFICIO')
INSERT [dbo].[PERSUASIVOTIPIFICACIONOFICIO] ([codigo], [nombre]) VALUES (2, N'SEGUNDO OFICIO')
INSERT [dbo].[PERSUASIVOTIPIFICACIONOFICIO] ([codigo], [nombre]) VALUES (3, N'ÚLTIMO OFICIO')
SET IDENTITY_INSERT [dbo].[PERSUASIVOTIPIFICACIONOFICIO] OFF