<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="UgppUserBusiness" value="s-bpmpar01" />
    <add key="UgppUserSystem" value="s-bpmpar01" />
    <add key="UgppPassword" value="RptSSo1Ug" />
  </appSettings>
  <connectionStrings>
    <!-- Stefanini DEV -->
    <add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IT-214\SQL2014;initial catalog=UGPPCobrosCoactivo;persist security info=True;user id=ugppadmin;password=_ugpp@dM1N2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=IT-214\SQL2014;Initial Catalog=UGPPCobrosCoactivo;User ID=ugppadmin;Password=_ugpp@dM1N2" providerName="System.Data.SqlClient"/>
    <!-- Stefanini QA -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=IT-214\SQL2014;initial catalog=UGPPCobrosCoactivosQA;persist security info=True;user id=portalesqa;password=portalesqa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=IT-214\SQL2014;Initial Catalog=UGPPCobrosCoactivosQA;User ID=portalesqa;Password=portalesqa" providerName="System.Data.SqlClient"/>-->
    <!-- Local DB -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=6J49RN2;initial catalog=UGPPCobrosCoactivo20190228;persist security info=True;user id=sa;password=hernandez123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=6J49RN2;Initial Catalog=UGPPCobrosCoactivo20190228;User ID=sa;Password=hernandez123" providerName="System.Data.SqlClient"/>-->
    <!-- UGPP QA -->
    <!--<add name="UGPPEntities" connectionString="metadata=res://*/UGPPModelo.csdl|res://*/UGPPModelo.ssdl|res://*/UGPPModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.20.0.163;initial catalog=ugpp;persist security info=True;user id=GLOBALINC;password=99110022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectionString" connectionString="Data Source=172.20.0.163;Initial Catalog=ugpp;User ID=GLOBALINC;Password=99110022" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EndpointDocumentoBinding" maxBufferPoolSize="524288"
          maxBufferSize="5242880" maxReceivedMessageSize="5242880" />
        <binding name="ws_SrvIntCobros_Binder">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="bndSrvIntExpedienteHttp">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport authenticationScheme="Basic" />
        </binding>
        <binding name="bndSrvIntDocumentoHttp">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000"
            authenticationScheme="Basic" maxBufferSize="20000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.20.0.178/ws/VS_SrvIntExpediente"
        binding="customBinding" bindingConfiguration="bndSrvIntExpedienteHttp"
        contract="UGPPSrvIntExpediente.portSrvIntExpedienteSOAP" name="VS_SrvIntExpedientesoap12http" />
      <endpoint address="http://172.20.0.178/ws/VS_SrvIntDocumento"
        binding="customBinding" bindingConfiguration="bndSrvIntDocumentoHttp"
        contract="UGPPSrvIntDocumento.portSrvIntDocumentoSOAP" name="VS_SrvIntDocumentosoap12http" />
      <endpoint address="http://192.168.80.62:80/WebServicesUGPP/SvcDocumento"
        binding="basicHttpBinding" bindingConfiguration="EndpointDocumentoBinding"
        contract="UGPPSvcDocumento.IContratoSvcDocumento" name="EndpointDocumento" />
      <endpoint address="http://172.20.0.37:5565/ws/AP_Cobros.SeguimientoCobros.ws.provider:SrvIntCobros"
        binding="basicHttpBinding" bindingConfiguration="ws_SrvIntCobros_Binder"
        contract="UGPPSrvIntCobros.SrvIntCobros_PortType" name="ws_SrvIntCobros_Port" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>